<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/html5.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#0091EA'"
            [innerStrokeColor]="'#6200EA'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#0091EA'"
            [innerStrokeColor]="'#6200EA'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#0091EA'"
            [innerStrokeColor]="'#6200EA'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../assets/github1.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#0091EA'"
            [innerStrokeColor]="'#6200EA'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/idioma.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#0091EA'"
            [innerStrokeColor]="'#6200EA'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/trabajo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#0091EA'"
            [innerStrokeColor]="'#6200EA'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>    
    </div>
</div>
  