<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-11">
    <ul>
        <li>
            <h1> Trabajo 1</h1> - <h3> (years)</h3>
        </li>
        <p>
            "ENCARGADO DEL DISPENSER" 
        </p>
    </ul>
    <ul>
        <li>
            <h1> Trabajo 2</h1> - <h3> (years)</h3>
        </li>
        <p>
            AMIGO DEL CHANGO ACOSTA
        </p>
    </ul>
    <ul>
        <li>
            <h1> Trabajo 3</h1> - <h3> (years)</h3>
        </li>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sunt illo alias architecto modi. Nostrum autem vitae laudantium modi consectetur. Consequuntur ipsam nihil adipisci voluptas fugiat debitis sed id nam.
        </p>
    </ul>
</div>
</div>
