<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div>
            <h1>Proyecto Interador Porfolio Web Full Stack</h1>
            <h2>#Yo Programo</h2>
            <h3>Objetivo:¡crear mi propio portfolio web! desarrollar una aplicación web full stack, que muestre, mis datos personales, estudios cursados, experiencia laboral, conocimiento de las
                tecnologías. Esta aplicación deberá ser de arquitectura distribuida y contener un
                diseño de interfaz de usuario (front end) que muestre la información, una base de datos que almacene los datos antes mencionados y debe contar
                con las APIs necesarias para proveer a través de internet la información (back end) etc.</h3>
        </div>
        <div>

        </div>
    </div>
</div>
