<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_porfolio1.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Barrionuevo Alexis Ruben</p> 
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de Mí</h1>   
            <p>me presento, soy una persona apasionado por la tecnologia, la naturaleza, la musica, creo que nunca es tarde para adquirir nuevos conocimientos, me considero una persona autodidacta, y mi cable a tierra son mis hijos.  </p>
        </span> 
    </div>
</div>
