<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto Intedrador Porfolio Web Full Stack/#Yo Programo - Argentina Programa 4.0 - Mayo 2023</h1>
            <p>Objetivo: desarrollar una aplicación web full stack, que muestre, mis datos personales, estudios cursados, experiencia laboral, conocimiento de las
                tecnologías. Esta aplicación deberá ser de arquitectura distribuida y contener un
                diseño de interfaz de usuario (front end) que muestre la información, una base de datos que almacene los datos antes mencionados y debe contar
                con las APIs necesarias para proveer a través de internet la información (back end) etc.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 ofsett-lg-1 parte2">
            <img src="../../../assets/imagenproyecto.png" class="img-fluid img-proyecto" >
        </div>
    </div>
</div>
